body {
  margin: 0;
  font-family: sans-serif;
}
/*Хеадер страницы*/
header {
  background: url("../images/backheader.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: #7a7a7a;
}

ul {
  margin: 0;
  padding: 30px 15px 15px;
  float: right;
}

ul li {
  display: inline;
  margin: 25px;
}

.clear {
  clear: both;
}

.logo {
  float: left;
  margin: 10px 10px 10px 35px;
}

.login {
  float: right;
  margin: 20px 20px 15px;
  background: #de6d6e;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
}

.upMenu {
  background-color: rgba(255, 255, 255, 0.8);
}

.welcome {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

h1 {
  margin: 250px 0 0;
  font-size: 3em;
}

/*Основной контент сайта*/
.caption {
  text-align: center;
}

.caption > p {
  padding-left: 90px;
  padding-right: 90px;
}

.rounds {text-align: center;}

.round {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 3.8%;
  border-radius: 50%;
}

.orange {background: #e48f23;}
.blue {background: #4eb9f4;}
.red {background: #ff5649;}
.green {background: #6fc125;}

.imagesInRound {
  width: 80px;
  height: 80px;
  margin: 18% 22% 22%;
}

.imagesInRound span {
  display: inline-block;
  margin: 5px 0 0;
  color: white;
}
