body {
  margin: 0;
  font-family: sans-serif;
  color: grey;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Хеадер страницы*/
header {
  background: url("../images/backheader.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: #7a7a7a;
}

nav > ul {
  margin: 0;
  padding: 30px 15px 15px;
  float: right;
}

nav > ul li {
  display: inline;
  margin: 25px;
}

.logo {
  float: left;
  margin: 10px 10px 10px 35px;
}

.login {
  float: right;
  margin: 20px 20px 15px;
  background: #de6d6e;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
}

.upMenu {background-color: rgba(255, 255, 255, 0.8);}

.welcome {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

h1 {
  margin: 250px 0 0;
  font-size: 3em;
}

/*Основной контент сайта*/
.caption {
  text-align: center;
}

.caption > p {
  width: 827px;
  margin: 0 auto;
}

.rounds {
  text-align: center;
  width: 1024px;
  margin: 0 auto;
}

.round {
  display: inline-block;
  margin: 3.5%;
  /*border-radius: 50%;*/
}

.round:hover {opacity: 0.2;}

.textInRounds {
  opacity: 0;
  width: 150px;
  position: absolute;
  padding: 40px 10px;
  color: white;
}

.textInRounds:hover {opacity: 1;}

.news {
  width: 1024px;
  margin: 0 auto;
  padding-left: 64px;
}

.oneNew {margin: 80px 0;}

.oneNewPicture {
  float: left;
}

.oneNewText > p {
  padding: 0 15px;
  margin: 0;
  overflow: hidden;
  text-align: justify;
}

.oneNewText > h2 {
  margin: 0 10px;
  padding: 0 15px 10px 15px;
  overflow: hidden;
}

/*Подвал сайта валяется здесь*/
footer {
  background: #272727;
  color: white;
  min-height: 200px;
}

.footer {
  width: 1024px;
  margin: 0 auto;
  padding-left: 64px;
}

.subMenu {
  width: 748px;
  min-height: 100px;
  float: left;
}

.socialNet {
  width: 276px;
  background: red;
  min-height: 100px;
  float: right;
}

.subMenu > div {
  width: 187px;
  margin: 0;
  min-height: 90px;
  float: left;
}

div > ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
